body {
    font-family: 'Helvetica LT Std';
    color: #191b1f;
    overflow-x: hidden;
}
html {
    overflow-x: hidden;
}
.mapcss{
    margin-right:9px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: #d9e9f5!important;
}
.drop-arrow:after {
    content: url(../images/pluc-icon.png);

    position: relative;
    left: 4px;
    top: 2px;
 
}

.show-accordion{
    display: block!important;
}

.basicbox{
    background-color: #0087f2;
    padding: 70px 0;
    /* margin-top: -150px; */
    margin-bottom: 150px;
}
.basicbox  .boxcss {
    border: 1px solid #005dae;
    padding: 10px 22px 10px 22px;
    background-color: #fff;
}
.basicbox  .boxcss p {
    font-size: 22px;
    font-weight: 600;
    margin: 0;
    color:#203457;
}
.basicbox   h2 {
margin: 0 0 20px 0;
    padding: 0;
    font-size: 26px;
    font-weight: 600;
    color: #fff;
}
.basicbox  .fa-plus{
    color: #fc373e;
    font-weight: bold;
    font-size: 22px;
}   
.sticky{
    position: fixed;
    top: 45%;
    width: 16%;
    border: 1px solid #388cff;
    padding: 10px 30px;
    left: 3px;
    background-color: #388cffcf;
    z-index: 9999999;
    border-radius: 12px;
    color: #fff;
}
.sticky h2{
    font-size:16px;
    color:#000;
    font-weight:bold;
}
.sticky p{
    font-size:14px; 
    color:#fff; 
}


.contact .socialbox a:hover{
    text-transform: none;
}
.mobilesec{display: none;}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.category-service a{
    color:#fff;
}
.category-service a:hover{
    color:#fff;
}
.footer a{
    color:#fff;
}
.footer a:hover{
    color:#fff;
}
.accordion-button::after {
    background-image: url("../images/plus.png");
    transform: scale(.5) !important;
}
.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    /* background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e); */
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
    position: absolute;
    right: 15px;
    color: #fff;
}
.contact-form-sec p {
    font-size: 22px;
}
.accordion-button:not(.collapsed)::after {
    background-image: url("../images/minus.png");
}
.accordion {
    position: absolute;
    background: #0f7cd2;
    padding: 0;
    margin-top: 10px;
    border-radius: 2px;
    width: 100%;
    text-indent: 22px;
    z-index: 15;
    max-width: 300px;
    overflow: auto;
    height: 244px;
}
.card-body {
    padding: 0 !important;
    display: block;
}
.accordion-header {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    padding: 9px 0 9px 0;
    margin: 0;
    border-bottom: 1px solid #2a93e6;
}
.card-body a {
    display: block;
    padding: 22px 0 !important;
    color: #0087f2;
    background-color: #fff;
    font-size: 13px;
    border-bottom: 1px solid #ccc;
    font-weight: 600;
}
.accordion {
    display: none;
}
/* .nav-item:hover .accordion {
    display: block;
} */
@font-face {
    font-family: 'Helvetica LT Std';
    src: url('../fonts/HelveticaLTStd-Bold.eot');
    src: url('../fonts/HelveticaLTStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaLTStd-Bold.woff2') format('woff2'),
        url('../fonts/HelveticaLTStd-Bold.woff') format('woff'),
        url('../fonts/HelveticaLTStd-Bold.ttf') format('truetype'),
        url('../fonts/HelveticaLTStd-Bold.svg#HelveticaLTStd-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica LT Std';
    src: url('../fonts/HelveticaLTStd-Light.eot');
    src: url('../fonts/HelveticaLTStd-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaLTStd-Light.woff2') format('woff2'),
        url('../fonts/HelveticaLTStd-Light.woff') format('woff'),
        url('../fonts/HelveticaLTStd-Light.ttf') format('truetype'),
        url('../fonts/HelveticaLTStd-Light.svg#HelveticaLTStd-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

h3 {
    font-size: 42px;
    color: #000;
}
p {
    font-size: 24px;
    color: #191b1f;
}
.theybtn {
    background-color: #0087f2;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
    padding: 7px;
    text-align: center;
}
input:focus {
    box-shadow: none !important;
}
.btn {
    background-color: #0087f2;
    border-radius: 20px;
    color: #fff;
    font-size: 20px;
    /* padding: 6px 19px; */
}
.btnb {
    background-color: #000;
    border-radius: 20px;
    color: #fff;
    font-size: 20px;
    /* padding: 6px 19px; */
}
.provider-sec .select2-container--default .select2-selection--single{
    background-color: #f8fcfc;
    border-radius: 24px;
    font-size: 20px;
    height: calc(2em + 0.75rem + 2px);
    padding: 0.375rem 1.2rem;
    background-image: url(../images/dropdown-arrow.png);
    background-position: right center;
    background-repeat: no-repeat;
}
.provider-sec .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 39px!important;
}

.provider-sec .select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none;
}
.header .logo{
    max-width: 250px;
}
.header .navbar-dark .navbar-nav .nav-link {
    color: #444445;
    font-size: 17px;
    font-weight: 600;
    padding-right: 20px;
    padding-left: 22px;
    text-transform: uppercase;
}
.header {
    max-width: 1340px !important;
}
.header .right-section {
    max-width: max-content;
    width: 100%;
    /* position: absolute;
    right: 20px;

    top: 40px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .right-section .count {
    font-size: 23px;
    font-weight: 700;
}
.header .right-section .input-group {
    width: 290px;
    background: #000;
    border-radius: 30px;
}
/* .header .form-control::placeholder {
    color: #fff;
  } */
.header .right-section .form-control {
    height: calc(1.9em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    color: #fff;
    background-color: transparent;
    border: 0px solid #ced4da;
    border-radius: 0.25rem;
}
.header .right-section .input-group-text {
    background-color: transparent;
    border: 0px solid #ced4da;
}
.header .right-section .fa-search {
    color: #fff;
}
.header .right-section .form-control::placeholder{
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
.header .right-section .input-group-prepend {
    margin-right: 6px;
}
.header .navbar-nav {
    padding-left: 0%;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 1.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.topheader li {
    /* border-right: 2px solid #a4a4a4; */
    line-height: 0px;
    padding: 11px 0;
}
.topheader li .nav-link {
    /* border-right: 2px solid #ccc; */
    line-height: 0;
}

 .dropdown button {
    border: 0;
    background: transparent;
    width: 120px;
 
}
.mobiledrp {
    margin-left: -107px;}
.logoutbtn{
    color: #fff;
    background-color: #0069d9!important;
    border-color: #0062cc!important;
    padding: 3px 0!important;
}
.topheader li img{
    width: 33px;
}
.topheader .topmenu{
    width:10%;    width: 20%;
    margin-left: 2px;}

.category-service {
    background-color: #0087f2;
    padding: 14px 0;
    vertical-align: middle;
}
.category-service span {
    color: #fff;
    font-size: 21px;
    font-weight: bold;
}
.category-service .container {
    max-width: 1340px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.category-service ul {
    padding-left: 0;
}
.category-service ul li {
    display: inline-block;
    font-size: 17px;
    color: #fff;
    padding: 0 8px;
    font-weight: 600;
    text-decoration: underline;
}
.banner {
    /* background-image: url(../images/banner.jpg);
    background-size: cover; */
    padding: 24px 0 0px 0;
    background-color: #f8fcfc;
    background-attachment: fixed;
}
.banner .whitebox {
    /* background-color: #fff;
    border-radius: 100px 20px 100px 20px;
    padding: 90px 60px;
    position: relative; */
}
.banner .whitebox h3 {
    font-size: 61px;
    font-weight: bold;
}
.banner .whitebox h4 {
    color: #0077ef;
    font-weight: bold;
    font-size: 60px;
    text-decoration: underline;
}
.banner .whitebox h3 span {
    color: #000;
    font-weight: 600;
    font-size: 41px;
    display: block;
}
.banner .whitebox .circle1 {
    position: absolute;
    left: -90px;
    top: 14px;
}
.banner .whitebox .circle2 {
    position: absolute;
    right: -50px;
    bottom: -39px;
}
.banner .whitebox p {
    font-size: 23px;
}
.banner .whitebox p span {
    color: #0077ef;
    font-weight: bold;
    /* display: block; */
}
.banner .whitebox p {
    margin-top: 25px;
    line-height: 30px;
    padding-right: 122px;
}
.bannerright h3 {
    font-family: 'Helvetica LT Std';
    color: #fff;
    font-weight: bold;
}
.banner .whitebox .btn-primary {
    border-radius: 44px;
    background: #0087f2;
    font-weight: 300;
    font-size: 18px;
    padding: 14px 35px;
    margin-top: 15px;
}
.btnb-primary {
    border-radius: 44px;
    background: #000;
    font-weight: 600;
    font-size: 18px;
    padding: 13px 35px;
    margin-top: 15px;
    margin-left: 63px;
}
.profile .btn-primary {
    border-radius: 44px;
    background: #388cff;
    font-weight: 600;
    font-size: 18px;
    padding: 13px 35px;
    margin-top: 15px;
}
.provider-sec .location{
    width: 340px;
}
.provider-sec {
    border-radius:20px;
    border: 1px solid #388cff;
    background-color: #fff;
    max-width: 1280px !important;
    padding: 70px 30px;
    box-shadow: 0px -9px 29px 2px rgba(0,0,0,0.1);
    margin-top: -50px;
    position: relative;
}
.provider-sec p{
    font-size: 20px;
}
.provider-sec p {
    font-size: 20px;
    margin: 0 -32px 0 0;
}
.provider-sec .dropdown1{
max-width: 440px;
}
.provider-sec .dropdown2{
    max-width: 310px;
    }

    .provider-sec .inner{
        justify-content: space-between;
        display: flex;
        align-items: center;
    }
    .provider-sec .form-control{
     background-color:#f8fcfc ;
     border-radius: 50px;
     font-size: 20px;    height: calc(2em + 0.75rem + 2px);
     padding: 0.375rem 1.2rem;
     background-image: url(../images/dropdown-arrow.png);
     background-position:  right center;
     background-repeat: no-repeat;

    }

    .provider-sec .fa {
    font-size: 30px;
}
.allinforow{
    display:flex; justify-content: space-between;    text-decoration: none;width:100%;
}
.allinforow:hover{
    text-decoration: none;
}

select {
	appearance: none;
}
  .btn-secondary {
    border-radius: 44px;
    background: #000;
    font-weight: 300;
    font-size: 18px;
    padding: 14px 35px;

    color: #fff;
}
.bluestar {
    color: #388cff;
}
.list-top {
    background-color: #f9f9fc;
    padding: 50px 0 100px 0;
}
.list-top a {
    color: #000;
    font-size: 18px;
}
.list-top h2 {
    color: #000;
    font-size: 32px;
    font-weight: bold;
    margin-top: 30px;
}
.list-box a {
    color: #000;
    font-size: 14px;
    text-decoration: underline;
}
.filter-box .form-control::placeholder {
    color: #000;
    font-weight: 500;
}
.filter-box .form-control {
    font-size: 13px;
    padding: 0 10px;
    border-radius: 0;
    color: #333!important;
    font-weight: bold;
    background-image: url(../images/dropdown-arrows.png);
    background-repeat: no-repeat;
    background-position: 96%;
    background-size: 5%;
}
.filter-box option {
    font-size: 14px;
    color: #000 !important;
    font-weight: bold;
}
.dropbox .dropinner {
    border-bottom: 1px solid #ccc;
    padding: 12px 0;
}
.filter-box {
    border: 0px;
}
.filter-box select {
    font-size: 12px;
}
/* .filter-box .dropbox {
    border: 1px solid #ccc;
} */
.side-bar  .select2-selection,
.side-bar .select2-container {
width: 100% !important;
}

.side-bar .select2-selection--multiple {
    width: 100% !important;
    border: 1px solid #aaa!important;
    border-radius: 0!important;
    font-size: 14px !important;
 
}

.side-bar .select2-selection--single {
 
    font-size: 13px;
    border-radius: 0 !important;
}


.firmbox h3 {
    color: #000;
    font-size: 32px;
    font-weight: bold;
    margin-top: 30px;
}
.form-control:focus {
    box-shadow: none;
}
.firm-sec button {
    border: 0;
    background-color: transparent;
    padding: 0 13px;
    border-right: 1px solid #ccc;
}
.firm-sec .input-group {
    border: 1px solid #ccc;
    padding: 10px 0;
    margin-top: 42px;
}
.firm-sec .form-control {
    border: 0;
    height: calc(2em + 0.75rem + 2px);
    font-weight: bold;
    color: #949494;
    padding: 10px 25px;
}
.firm-box p {
    font-size: 16px;
    text-decoration: underline;
    margin-bottom: 0;
}
.fullreview{
    margin-bottom: 50px;
}
.fullreview .btn-primary {
border-radius: 44px;
background: #0087f2;
font-weight: 300;
font-size: 18px;
padding: 14px 35px;

margin: auto;
}
.firm-box {
    padding: 25px 0;
}
.graph-sec .icon-box p {
    font-size: 14px;
    margin-bottom: 5px;
}
.graph-sec .icon-box img {
    margin-right: 5px;
}
.graph-sec h3 {
    font-size: 16px;
    text-transform: capitalize;
}
.graph-sec p {
    font-size: 12px;
}
.graph-sec .reviews-row {
    padding: 15px 0 20px 0;
}
.graph-sec .reviews-row .fa-star {
    font-size: 20px;
}
.graph-sec .reviews-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.graph-sec .reviews-row h3 {
    margin: 0
}
.graph-sec .links a {
    /* font-size: 15px; */
    font-size: 12px;
}
.graph-sec .links a:nth-child(2) {
    margin: 0 29px;
}
.verified-sec img {
    display: block;
    margin-bottom: 0;
}

#addCompanyList .pagination{
    justify-content: end;
 
    margin-top: 10px;      
}

#addCompanyList .page-link {
 
    border: 0px solid

}



.email-sec span{margin-top: 10px;}
.locationbox a {
    color: #388cff;
    font-size: 20px;
    padding: 9px 20px
}
.locationbox a:after {
    content: url('images/profile-arrow1.png');
    margin-left: 8px;
}
.focus-sec .focus-box h3 {
    color: #388cff;
    font-size: 26px;
    padding: 0 9px;
    text-decoration: underline;
}
.focus-sec .focus-box h3:after {
    content: url(images/profilebigarrow.png);
    margin-left: 8px;
}
.review-sec h2 {
    color: #388cff;
    font-size: 26px;
    padding: 0 9px;
    text-decoration: underline;
}
.review-sec h2:after {
    content: url(images/profilebigarrow.png);
    margin-left: 8px;
}
.review-sec .details-box {}
.review-sec .icon-box p {
    font-size: 16px;
    margin-bottom: 5px;
}
.review-sec h3 {
    font-size: 20px;
}
.review-sec h4 {
    color: #388cff;
    font-size: 20px;
    font-weight: bold;
}
.qualitytxt{
line-height:33px;
}

.alert-success {

    width: 36%!important;
    margin: auto auto 10px 23%!important;
    text-align: center;}
    .alert {

        width: 36%!important;
        margin: auto auto 10px 23%!important;
        text-align: center;}

      .reviews-row .fa {

            font-size: 20px;}

            /* .select2-container--default .select2-selection--single {
                
                width: 77%;
            } */
            .select2-dropdown{
                z-index: 9!important;
            }
@media (max-width:600px) {
    .category-service{
        display: none;
    }
    .graph-sec .links a:nth-child(2) {
        margin: 0 15px;
    }
    .firm-box p {
        font-size: 18px;
    }
    .graph-sec .border-right {
        border-right: 0px solid #dee2e6 !important;
        border-bottom: 1px solid #dee2e6 !important;
    }
}


@media screen and (max-width:375px) {
    .header .logo {
        max-width: 150px !important;
    }
}



@media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1210px;
}
}

.email-sec{
    background-color: #f5f8fd;
}

.email-sec #email{
    width: 79%;
    background-color: #388cff;
    border: 0;
    color: #fff;
    border-radius: 40px;
    padding: 30px 54px;

}
#email::placeholder {
    color: #fff;
    opacity: 1;
padding: 20px 30px;
font-size: 22px;

}
.email-sec .emailbox{
    margin-bottom: 16px;
}
.email-sec h3 {
    font-size: 22px;
    color: #000000;
    margin: 55px 0 0 9px;
    text-decoration: underline;}
.email-sec span {
    font-size: 21px;
    color: #191b1f;
    padding: 20px 13px;
}
.email-sec p a{
color:#388cff;
}

.email-sec p {
    font-size: 21px;
    color: #191b1f;
    padding: 20px 13px;
    text-align: justify;
}
.email-sec .submit{
    border-radius: 44px;
    background: #000;
    font-weight: 600;
    font-size: 18px;
    padding: 0px 60px;
    margin-top: 0px;
    margin-left: 15px;
    color: #fff;

}

.bannerright .form-control {
    display: block;
    width: 100%;
    height: calc(2.7em + 0.75rem + 2px);
    padding: 14px 49px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 3rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.bannerright .post {
    background-image: url(../images/search.png);
    background-position: center right;
    background-repeat: no-repeat;
}
.bannerright .location {
    background-image: url(../images/location.png);
    background-position: center right;
    background-repeat: no-repeat;
}
.bannerright .btn-primary {
    width: 100%;
    font-family: 'Helvetica LT Std';
    font-size: 23px;
    padding: 12px 0;
    font-weight: bold;
}
.navbar-dark .navbar-toggler-icon {
    background-image: url(../images/toggle-menu.png);
    width: 27px;
    height: 17px;
}
.btn-primary {
    background: rgb(1, 104, 236);
    background: linear-gradient(0deg, rgba(1, 104, 236, 1) 21%, rgba(0, 180, 248, 1) 79%);
    border: 0;
    font-weight: 300;
    font-size: 23px;
    padding: 15px 30px;
    border-radius: 3rem;
    transition: all .3s;
}
.btn-primary:hover {
    transform: scale(1.02);
}
.agencies {
    padding: 60px 0 60px 0;
    background-size: cover;
    /* background-attachment: fixed; */
    margin-bottom: 115px;
}
.agencies h3 {
 font-weight: bold;
 color: #388cff;
 font-size: 36px;
}
.agencies p {
    font-size: 20px;
}
.agencies .container {
    max-width: 1300px;
}
.agencies .agenciesbox {
    height: 100%;
    width: 100%;
}
.agencies .agenciesbox {
    background-image: url(../images/bluebg.png);
    /* border: 1px solid #0087f2; */
    color: #0087f2;
    border-radius: 6px;
    padding: 16px 25px 20px 25px;
    position: relative;
    transition: all .3s;
    background-position: center center;
    background-size: cover;
}
.agencies .agenciesbox {
    text-align: left;
}
.agencies .agenciesbox .iconimg {
    text-align: left;
    width: 24%;
}
.agencies .agenciesbox .iconbtn {
    width: 34%;
}
/* .agencies .agenciesbox h3 {
    font-size: 27px;
    color: #0087f2;
} */
.agencies .agenciesbox h3 a{
    color: #fff;
}
.agencies .agenciesbox h4 a{
    color: #fff;
    font-size: 19px;
}
.agencies .agenciesbox h3 {
    font-size: 26px;
    color: #fff;
    font-weight: 600;
    height: 58px;
    text-align: left;
}
.agencies .agenciesbox h4 {
    font-size: 18px;
    color: #fff;
    font-family: 'Helvetica LT Std';
    font-weight: bold;
    text-align: left;

}
.agencies .agenciesbox hr {
    border-top: 2px solid rgb(0, 0, 0);
}
.agencies .agenciesbox button {
    background-color: #000;
    color: #fff;
    padding: 9px 20px;
    border-radius: 22px;
    margin-top: 20px;
}
.agencies .agenciesbox h4 {
    font-size: 23px;
    color: #fff;
}
.agencies .agenciesbox p {
    font-size: 15px;
    color: #fff;
    text-align: left;
    height: 60px;
}
.agencies .agenciesbox:hover {
    background-color: #0087f2;
    border: 1px solid #fff;
    color: #fff !important;
}
.agencies .agenciesbox:hover h3 {
    color: #fff !important;
}
.agencies .agenciesbox:hover p {
    color: #fff !important;
}
.agencies .agenciesbox:hover h4 {
    color: #fff !important;
}
.agencies .agenciesbox hr {
    background-color: #aaa;
}
.agencies .agenciesbox:hover hr {
    background-color: #fff;
}
.story-sec {
    background-image: url(../images/storybg.png);
    padding: 16px 25px 20px 25px;
    background-position: center center;
    background-size: cover;
}
.storybox {
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* height: 384px; */
    padding: 80px 59px;
    /* width: 543px; */
    border-radius: 28px;
    position: absolute;
    top: -106px;
}
/* .storybox::before {
    content: url('../images/story-design.png');
} */
.col-container {
    display: flex;
    width: 100%;
}
.col {
    flex: 1;
    padding: 16px;
}
.trustus {
    vertical-align: middle;
}
.trustus h3 {
    font-size: 45px;
    color: #0087f2;
    text-align: left;
}
.trustus p {
    font-size: 25px;
    color: #191b1f;
    text-align: left;
}
.profile {
    background-color: #cee3ff;
    padding: 40px 0;

}
.profile h3 {
    font-size: 36px;
    color: #000;
    text-align: center;
    font-weight: bold;
}
.profile p {
    font-size: 27px;
    color: #000!important;
    text-align: center;
}
.profile p span{
    font-size: 29px;
    color: #388cff!important;
    text-align: center;
    display: block;
    font-weight: bold;
    text-decoration: underline;
}
.profile h6 {
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-top: 24px;
}
.profile h6 span {
    color: #0087f2;
}
/* testimonial section */
.testimonial {
    background-image: url(../images/bg-testi.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    padding: 50px 0 0 0;
    margin-top: 90px;
}
.testimonial h3 span {
    color: #388cff;
    font-weight: bold;
    font-size: 36px;
    display: block;
}
.testimonial h3 {
    color: #000;
    font-weight: bold;
    font-size: 36px;
}
.testimonial p span {
    color: #0087f2;
    font-weight: bold;
    font-size: 24px;
}
.testimonial p {
    color: #000000;
    font-weight: normal;
    font-size: 24px;
}
.testimonial .testimonialbox {
       /* background-color: #3e3e3e; */
       padding: 80px 30px 110px 30px;
       position: relative;
       border-radius: 13px;
       border: 1px solid #ccc;
       text-align: center;
}

.testimonial .testimonialbox h4 {
 font-weight: bold;
 font-size: 22px;
}
.testimonial .testimonialbox h4 span {
    font-weight: normal;
    font-size: 20px;
    display: block;
    color: #388cff;
   }

   .testimonial .testimonialbox p{
    font-weight: normal;
    font-size:20px;
    margin: 27px 0 0 0;

   }

   .testimonial .slick-dots li button:before {

    font-size: 20px;
     border: 1px solid #fff;
    opacity: 1 !important;
    color: #fff;
    content: url(../images/testi-bullet.png);

}
.testimonial .slick-dots li.slick-active button:before {

    content: url(../images/testi-bullet-active.png);

}
.testimonial .slick-dots {

    bottom: -85px;

}
/* .testimonial .testimonialbox:after {
    content: url(../images/testi-arrow.png);
    position: absolute;
    bottom: -27px;
} */
.testimonial .testimonialbox img {
    position: absolute;
    top: -33px;
    left: 0;
    width: 6%;
    right: 0;
    text-align: center;
    margin: auto;
}
.testimonial .testimonialbox h3 {
    color: #000;
    font-size: 21px;
    padding: 37px 0px 0 74px;
    font-weight: 300;
}
.testimonialname p {
    color: #3e3e3e;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 0;
    text-align: left;
}
.testimonialname span {
    color: #3e3e3e;
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 0;
}
/* testimonial section */
/* contact section  */
.contact {
    background-color: #f5f8fd;
    padding: 0px 0 40px 0;
}
.contact h2 {
    font-size: 45px;
    color: #555555;
}
.contact .container {
    max-width: 1300px;
}
/* .contact .email-input {
    margin-right: 6px;
}
.contact .input-bg {
    background-color: transparent;
    border: 0px solid #ced4da;
} */
.contact .form-control {
    border-radius: 0 !important;
    font-size: 26px;
    color: #555555;
    background-color: #f1f1f1 !important;
    border: 0 !important;
    height: 58px !important;
}
.contact .emailbrd {
    border-bottom: 2px solid #555555 !important;
}
.contact .email {
    background-image: url(../images/envalop-big.png);
    background-position: center right;
    background-repeat: no-repeat;
    border-bottom: 2px solid #555555 !important;
    padding-right: 50%;
}
.contact .form-control input {
    font-size: 10px !important;
}
.contact .about-box {
    /* padding: 0 72px 0 0; */
}
.contact .about-box h3 {
    font-size: 22px;
    color: #000;
    margin: 0 0 29px 0;
    text-transform: uppercase;
    text-decoration: underline;
}
/* .contact .about-box h3:after {
    content: url('../images/penborder.png');
    display: block;
} */
.contact .about-box p {
    font-size: 19px;
    color: #454545;
    font-weight: 400;
    vertical-align: middle;
    margin: 13px 0px 13px 0;
}
.contact .about-box p a {
    color: #454545;
}
.contact .about-box .latestposts span {
    font-size: 18px;
    color: #454545;
    font-weight: normal;
    vertical-align: middle;
    font-size: 16px;
    color: #454545;
    font-weight: 400;
}
.contact .about-box .imgright span a {
    font-size: 17px;
    color: #0087f2;
    vertical-align: middle;
}
.contact .about-box .imgright span a::after {
    content:url('../images/min-arrow.png');
    max-width: 30px;
    margin-left: 10px;
}
.contact .about-box .imgright {
    padding: 0 0px 0 0px;
}
.contact .about-box .social {
    display: flex;
    margin-top: 20px;
}
.contact .about-box .social img{
    width: 11%;
    padding: 0 5px;
    margin-top: 10px;
}
.contact .socialbox a{
    padding: 0px 0;
    display: block;
    font-size: 19px;
}
.contact .about-box .social .fa {
    font-size: 16px;
    font-size: 20px;
    color: #068af2;
    border: 1px solid #068af2;
    border-radius: 26px;
    /* box-shadow: 0 0 2px #888; */
    /* padding: 8px; */
    margin-right: 7px;
    width: 40px;
    line-height: 40px;
    text-align: center;
}
.contact .about-box .social .fa:hover {
    color: #00b8f9;
    border: 1px solid #00b8f9;
}
.contact .recieve {
    font-size: 17px;
    color: #666666;
    margin-top: 15px;
}
.latestpostsbrd {
    border-bottom: 2px solid #707070;
    padding: 0 0 13px 0;
    margin-bottom: 12px;
    width: 73%;
}
.brdnone {
    border: 0 !important;
}
.tweetsicon li {
    list-style-image: url('../images/tweeticon.png');
    margin-bottom: 22px;
    padding-left: 12px;
    font-size: 16px;
    color: #454545;
    font-weight: 400;
}
.tweetsicon {
    padding-left: 20px;
}
/* .contact .about-box .latesttweets span {
    font-size: 12px;
    color: #454545;
    font-weight: normal;
    text-transform: uppercase;
    vertical-align: middle;
} */
/* .latesttweetsbrd {
    padding: 13px 0;
    font-size: 17px;
    color: #454545;
    font-weight: normal;
} */
.contactinfo {
    padding: 13px 0;
    font-size: 17px;
    color: #454545;
    font-weight: normal;
}
.contactinfo div {
    display: inline-block;
}
.contactinfo div a {
    color: #454545;
    font-size: 16px;
    padding-left: 8px;
}
/* .latesttweetsbrd {
    border-bottom: 2px solid #707070;
    padding: 13px 0;
} */
/* contact section  */
/* footer section */
.footer-sec{
    background-color: #0087f2;
    padding: 19px 0;
}
.footer-sec ul li{
    display: inline-block;
    font-size: 31px;
    color: #fff;
    padding: 0px 8px;
    font-weight: bold;
    border-right: 1px solid #fff;
    line-height: 13px;
}
.footer {
    background-color: #0087f2;
    padding: 34px 0 20px 0;
}
.footer ul{
    display: flex;
    justify-content: center;
}

.footer ul li {
    display: inline-block;
    font-size: 21px;
    color: #fff;
    padding: 0px 25px;
    font-weight: bold;
    border-right: 4px solid #fff;
    line-height: 25px;
}
/* footer section */
.trust-row .container {
    max-width: 1350px;
}
.trust-row {

     background-image: url('../images/storybg.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.trust-row h3 {
    /* color: #0087f2; */
    font-size: 40px;
    font-family: 'Helvetica LT Std';
    font-weight: bold;
    background: -webkit-linear-gradient(#00bcf9, #016fed);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* background: linear-gradient(
        0deg, rgba(1, 104, 236, 1) 21%, rgba(0, 180, 248, 1) 79%); */
}
.trust-row p {
    font-size: 20px;
    color: #191b1f;
    text-align: left;
    line-height: 30px;
}
.dropdown-menu {
    border: 0px solid rgba(0, 0, 0, .15);
}
/* popup */
.modal-body {
    padding: 40px 0;
}
.modal-header h4 {
    display: block;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 4px;
    color: #0077ef;
    width: 100%;
}
.modal-header {
    width: 100%;
}
.modal-footer {
    padding: 20px;
}
.modal-header h4 span {
    display: block;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 4px;
    color: #17313b;
}
.modal-open .modal {
    background-color: #0087f233 !important;
}
.singinbox {
    background-color: #0a66c2;
    padding: 0;
    width: 64%;
    margin: auto;
    clear: both;
}
.signintxt {
    padding: 0;
}
.signintxt {
    background-color: #114180;
    border-radius: 0;
    padding: 11px 0 0 0;
}
.signintxt:hover {
    background-color: #0a66c2;
    border-radius: 0;
}
.closebtn:hover {
    background-color: #114180;
}
.signintxt .btnlink {
    font-size: 23px;
    color: #fff;
    padding-bottom: 0;
    margin-bottom: 0;
    padding: 13px 0px 13px 0px;
    /* background-color: #0a66c2; */
    border: 0;
    background: transparent;
    box-shadow: none;
}
.signintxt .btnlink:hover {
    border: 0;
    /* background-color: #114180; */
    border-radius: 0;
}
.signin {
    color: #fff;
    font-size: 38px;
    padding: 0 12px 0 12px;
    text-align: center;
}
.modal-header p {
    color: #17313b;
    font-size: 12px;
}
.modal-open {
    overflow: hidden;
    padding-right: 0px !important;
}
.btnLogout {
    background: rgb(1, 104, 236);
    background: linear-gradient(0deg, rgba(1, 104, 236, 1) 21%, rgba(0, 180, 248, 1) 79%);
    border: 0;
    font-weight: 300;
    font-size: 15px;
    padding: 0px 10px;
    border-radius: 3rem;
    transition: all .3s;
    margin-left: 25px;
}
.afterLogin .topheader li a {
    border-right: 2px solid #ccc;
    line-height: 16px;
    padding: 0px 21px;
}
.ProfileImg {
    border: none !important;
    ;
}

/* .show a {
    border-right: 2px solid #ccc;
    line-height: 36px;
    padding: 0px 22px;
} */
.nav-link {
    padding: 0.7rem 1.2rem 0.7rem 1rem !important;
}
.brdnone a {
    border: none;
}
.banner select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
/* .topheader li a {
    border-right: 2px solid #ccc;
    line-height: 17px;
} */
/* popup */
/* signin */
.signin-banner {
    background-image: url(../images/innerpage-bg.jpg);
    background-size: cover;
    padding: 50px 0 50px 0;
    background-position: center center;
}
.signin-banner h2 {
    font-weight: bold;
    font-size: 28px;
    color: #454545;
}
.signin-banner h3 {
    font-size: 22px;
    color: #191b1f;
    background: transparent;
    border: 1px solid #007bff;
    border-radius: 39px;
    padding: 10px 0;
}
.signin-banner p {
    font-size: 14px;
    color: #191b1f;
}
.form-size {
    padding: 50px 20px;
}
.formbox {
    width: 1160px;
    background-color: #fff;
    border: 1px solid #ccc;
    /* margin-top: -194px; */
    padding: 40px 0;
    margin-bottom: 40px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
    background-image: url('../images/form-bg.png');
}
.formbox {
    padding: 0px 0;
}
.bluebg {
    background: linear-gradient(0deg, rgba(1, 104, 236, 1) 21%, rgba(0, 180, 248, 1) 79%);
}
.formtxt {
    padding: 50px 82px;
}
.dropdown-menu a {
    border-top: 1px solid #ccc;
    font-size: 14px;
    padding: 1rem 1.5rem;
}
.clearbtn {
    font-size: 13px !important;
    padding: 9px 16px !important;
}
.nav-link:hover {
    color: #000 !important;
}
/* search page start*/
.searchbox {
    background-color: #fff;
    border: 1px solid #ccc;
    margin-top: -194px;
    padding: 40px 0;
    margin-bottom: 40px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
    background-image: url('../images/form-bg.png');
}
.searchbox {}
.searchresult {
    background-color: #fff;
    border-top: 1px solid #ccc;
    /* box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.35); */
}
.recordbox h3 {
    color: #17313b;
    font-size: 28px;
}
.recordbox h4 {
    color: #ff3d2e;
    font-weight: bold;
    font-size: 12px;
}
.recordbox h5 {
    font-size: 13px;
    line-height: 16px;
}
.recordbox p {
    color: #6a797d;
    font-size: 16px;
}
.recordbox {
    /* border-bottom: 1px solid #ccc; */
    width: 100%;
    border-right: 1px solid #ccc;
}
.brdright {
    border-right: 1px solid #ccc;
}
.serchbtn {
    background: linear-gradient(0deg, rgba(1, 104, 236, 1) 21%, rgba(0, 180, 248, 1) 79%);
    border: 0;
    font-weight: 300;
    font-size: 16px;
    padding: 6px 47px;
    border-radius: 0;
    transition: all .3s;
    color: #fff;
    border-radius: 3rem;
}
.serchbtn:hover {
    text-decoration: none;
}
/* search page start*/
.nav-link {
    padding: 3px 22px;
    line-height: 11px !important;
}
/* dashboard */
.dash-third .bx {
    text-align: left;
}
.dash-third .logobx {}
.dash-third .companyname {
    margin: 4px 0;
}
.dash-third .tagline {
    display: block;
}
.dash-third .third {
    display: block;
}
.serchbtndash:hover {
    text-decoration: none;
}
.dash-row {
    border: 1px solid #ccc;
    text-align: center;
    padding: 0px 0;
    margin: 0;
}
.dash-row .brdright {
    border-right: 1px solid #ccc;
}
.dash-row h4 {
    font-size: 18px;
    margin: 0;
}
.dash_profile .secondrow {
    color: #007bff;
    padding: 5px 1px;
    font-weight: 600;
}
.dashsecond {
    background: linear-gradient(0deg, rgba(1, 104, 236, 1) 21%, rgba(0, 180, 248, 1) 79%);
    border: 0;
    font-weight: 300;
    font-size: 16px;
    padding: 0px 0px;
    border-radius: 0;
    transition: all .3s;
    color: #fff;
}
.dash-third p {
    font-size: 17px;
    color: #191b1f;
    padding-top: 0 !important;
    overflow-wrap: break-word;
}
.dash-third {
    margin-bottom: 50px;
    border-bottom: 1px solid #ccc;
}
.dash-third .sponsored {
    border-left: 1px solid #ccc;
}
.dash-third .sponsoredright {
    border-right: 1px solid #ccc;
}
.serchbtndash {
    background: linear-gradient(0deg, rgba(1, 104, 236, 1) 21%, rgba(0, 180, 248, 1) 79%);
    border: 0;
    font-weight: 300;
    font-size: 16px;
    padding: 6px 25px;
    border-radius: 0;
    transition: all .3s;
    color: #fff;
}
/* dashboard */
/* company profile */
.company_profile .profileone {
    background: linear-gradient(0deg, rgba(1, 104, 236, 1) 21%, rgba(0, 180, 248, 1) 79%);
    border: 0;
    font-weight: 300;
    padding: 0px 0px;
    border-radius: 0;
    transition: all .3s;
    color: #fff;
}
.company_profile .profileone a {
    font-size: 18px;
    color: #fff;
}
.profilesecondrow h3 {
    color: #007bff;
    font-size: 16px;
    font-weight: 600;
}
.profilesecondrow p {
    font-size: 16px;
    color: #191b1f;
    padding-top: 0 !important;
}
.profilethiredrow .focusbox {
    background: linear-gradient(0deg, rgba(1, 104, 236, 1) 21%, rgba(0, 180, 248, 1) 79%);
    width: 100%;
}
.profilethiredrow .focusbox h3 {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    padding: 10px 10px 0 13px;
}
.reviewbox {
    background: linear-gradient(0deg, rgba(1, 104, 236, 1) 21%, rgba(0, 180, 248, 1) 79%);
    width: 100%;
}
.reviewbox h3 {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    padding: 10px 10px 0 13px;
}
.submitbtn {
    background: rgb(1, 104, 236);
    background: linear-gradient(0deg, rgba(1, 104, 236, 1) 21%, rgba(0, 180, 248, 1) 79%);
    border: 0;
    font-weight: 300;
    font-size: 17px;
    padding: 8px 21px;
    border-radius: 3rem;
    transition: all .3s;
}
.submitbtn:hover {
    text-decoration: none;
}
.companyprofile-banner {
    background-image: url('http://theytrust-us.developmentserver.info/front_components/images/innerpage-bg.jpg');
    background-size: cover;
    padding: 90px 0 90px 0;
    background-position: center center;
}
/* company profile */
/* location page */
#location-page .innerformbox {
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
    background-color: #fff;
    padding: 36px 40px;
    margin-bottom: 30px;
    width: 600px;
}
#location-page .brdbtmtext {
    border-bottom: 1px solid #f1f1f1;
    padding: 2px 0;
    display: flex;
}
#location-page .brdbtmtext .leftinnerbox {
    width: 50%;
}
#location-page .emailinput {
    display: inline-block;
}
#location-page .mobileinput {
    display: inline-block;
    margin-left: 76px;
}
#location-page .submitbtn {
    color: #fff !important;
}
#location-page .namebox {
    font-weight: bold;
    width: 50%;
}
#location-page .bg-white {
    background-color: #fff !important;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
    width: 618px;
    margin: auto;
}
#addAddress {
    max-width: 1061px;
    width: 624px;
    margin: auto;
    /* box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%); */
}
.card-footer {
    background-color: rgba(0, 0, 0, .0) !important;
}
/* location page */
.bannerright .select2-container--default .select2-selection--single .select2-selection__rendered {
    padding: 13px 19px !important;
}
.bannerright .select2-container--default .select2-selection--single .select2-selection__arrow b {
    left: -42% !important;
    top: 99% !important;
}
.bannerright .select2-container--default .select2-selection--single {
    border-radius: 22px !important;
    width: 100%;
    max-height: calc(2.7em + 0.75rem + 2px) !important;
    height: auto;
}
@media (max-width:767px) {
    .mymobile{
        display: none;
    }
    .basicbox {
   
        padding: 35px 35px;
    }
    .sticky {
        width: 52%;}
    .header .navbar .d-block li::marker{display: none;}
    .signin-banner h3 {
        font-size: 16px;}
    .list-top {
        
        padding: 50px 0 50px 0;
    }
    .firm-box p {
        font-size: 14px;
    }
    /* .shadow .side-bar .select2-selection--multiple{
        margin-bottom: 10px;
    } */
    .shadow .filter-box .form-control{
        margin-bottom: 10px;
    }
    .shadow .select2-container--default  {
        margin-bottom: 10px;
    }
    .shadow .servicestxt {
        margin-top: 10px;
    }
    #piechart103{
        margin-left: -17px;
    }
 
    .shadow .select2-selection--multiple{margin-bottom: 10px;}
    .shadow .dropbox .dropinner{
        border-bottom: 0px solid #ccc;
        padding: 0px 0;
    }
    .graph-sec .links a {
        /* font-size: 15px; */
        font-size: 10px;
    }
    .shadow .select2-container {
        margin-bottom: 0;
    }
    .graph-sec h3 {
        font-size: 13px;
        text-transform: capitalize;
        font-weight: bold;
    }
#navbarSupportedContent{
    

    background-color: #0f7cd2;
}
/* #navbarSupportedContent .nav-link {
    margin-left: -132px;
} */
#navbarSupportedContent .dropdown-toggle{
    margin-left: 0px;
}
    /* .dropdown-menu {
        left:-159px!important;
        float: none!important;
        min-width: 17rem!important;
        padding: 0.5rem 0;
        margin: auto!important;
        right: 0!important;
 
        border: 1px solid #c4d1e8!important;
    } */











.provider-sec {
    border-radius: 10px;
    padding: 40px 13px;}
    .email-sec #email {
        width: 79%;


        padding: 27px 0px;
        margin-right: 5px;
        display: block;
    }
    .provider-sec .select2-container--default .select2-selection--single {

        font-size: 15px;
        height: calc(2em + 0.75rem + 2px);
        padding: 0.375rem 1.2rem;

    }
    .provider-sec .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #444;
        line-height: 33px!important;
        text-align: left;
    }
    .provider-sec .select2-container {

        margin: 0;

        width: 237px!important;
        padding: 22px 0;
    }
    .desktop-sec{
        display: none!important;
    }
    .mobilesec{display: flex;
    justify-content: center;}
    .mobilesec img{
        width: 15%!important;
        padding: 5px;
    }
    .email-sec #email {
        width: 100%;

    }
    .email-sec .submit {

        padding: 12px 112px;

    }

    .terms{
        margin-top: -20px!important;
    }
    .footer ul li {

        border-right: 0;

    }
    .footer ul {
        display: block;
        padding: 0;
    }

    .btnb-primary {

        font-size: 18px;
        padding: 13px 39px;
        margin-top: 15px;
        margin-left: 0;
    }
    .storybox {

        top: -55px;
        left: 1px;
    }
    .testimonial {

        margin-top: 0;
    }
    .storybox {

        position: relative;}
    /* .testimonial {

        margin-top: 443px;} */
    .banner .whitebox h3 span {
        color: #000;
        font-weight: 600;
        font-size: 29px;
        display: block;
    }
    .acc {
        margin-top: -50px;
    }
    .tabview {
        margin-top: 0px;
    }
    .agencies .agenciesbox h3 {
        height: auto;
    }
    .formbox {
        width: 100%;
    }
    /* location page */
    #addAddress {
        max-width: 1061px;
        width: 493px;
    }
    #location-page .headquater {
        font-size: 22px;
    }
    #location-page .locationbox {
        width: 100% !important;
    }
    #location-page .mobileinput {
        display: block;
    }
    #location-page .form-control {
        display: block;
    }
    #location-page .emailinput {
        display: block;
    }
    #location-page .innerformbox {
        width: 100%;
        padding: 36px 8px;
    }
    #location-page .brdbtmtext .leftinnerbox {
        width: 50%;
    }
    #location-page .mobileinput {
        margin-left: 0px;
    }
    /* location page */
    /* company profile */
    #company-profile-page p {
        font-size: 17px;
        color: #191b1f;
    }
    #company-profile-page.submitbtn {
        display: block;
    }
    #company-profile-page .recordbox {
        border-bottom: 0;
        width: 100%;
        border-right: 0;
    }
    #company-profile-page .brdright {
        border-right: 0;
    }
    #company-profile-page .searchresult {
        border-top: 0;
    }
    #company-profile-page.border-bottom {
        border-bottom: 0;
    }
    #company-profile-page .border-right {
        border-right: 0;
    }
    #company-profile-page .brdbottom {
        border-bottom: 1px solid #ccc;
        padding: 8px 0;
    }
    #company-profile-page .company-dec .submitbtn {
        display: block !important;
        text-align: center;
    }
    #company-profile-page .searchresult .border-bottom {
        border-bottom: 0;
    }
    #company-profile-page .searchresult .border-right {
        border-right: 0 !important;
    }
    #company-profile-page .recordbox h3 {
        color: #17313b;
        font-size: 18px;
        font-weight: bold;
    }
    /* company profile */
    /* dashboard */
    .dash-third .companyname {
        margin: 4px 0;
    }
    .dash-third .tagline {
        display: block;
    }
    .dash-row .brdright {
        border-bottom: 1px solid #ccc;
        border-right: 0 !important;
    }
    .dash-third .sponsored {
        border-right: 0 !important;
        border-left: 0 !important;
    }
    /* dashboard */
    /* .equal .col-md-6 {
        margin-bottom: 106px;
    } */
    .singinbox {
        width: 98%;
    }
    .modal {
        padding-right: 0 !important;
    }
    .modal-body {
        padding: 19px 0;
    }
    .header .navbar-dark .navbar-nav .nav-link {
        line-height: 22px;
    }
    .modal-header h4 {
        font-size: 32px;
    }
    .category-service ul li {
        padding: 0 6px;
    }
    .alltxt {
        margin-left: 15px;
    }
}
@media (max-width:820px) {
    .testimonial {

        margin-top: 412px;
    }
    .select2-container {

        margin-bottom: 20px;
    }
    .tabview {
        margin-top: 104px;
    }
}
@media (max-width:991px) {
    .agencies .agenciesbox {
        margin-bottom: 10px;
    }
}
@media (max-width:986px) {
    .serchbtndash {
        font-size: 10px;
        padding: 6px 9px;
    }
}
@media (max-width: 1199px) {
    .header .navbar-dark .navbar-nav .nav-link {
        font-size: 18px;
        padding-right: 0;
        padding-left: 0;
        border-bottom: 1px solid #ccc;
        border-right: 0px;
        padding: 10px 0 !important;
    }
    .accordion {
        position: static;
        background: #0f7cd2;
        padding: 0;
        margin-top: 10px;
        border-radius: 0;
        width: 100%;
        text-indent: 22px;
        z-index: 15;
    }
    .accordion-button::after {
        right: 42px;
    }
    .topheader li {
        padding: 0px 8px;
    width: 100%;
    }
}
@media (max-width:1296px) {

    .provider-sec .dropdown1 {
        max-width: 390px;
    }
    .header .navbar-nav {
        padding-left: 2%;
    }
    .header .navbar-dark .navbar-nav .nav-link {
        font-size: 17px;
    }
}
@media (max-width:1296px) {
    .category-service ul li {
        font-size: 12px;
    }
}
@media (max-width:1355px) {
    .header .navbar-dark .navbar-nav .nav-link {
        font-size: 19px;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .category-service ul li {
        font-size: 13px;
    }
    .category-service ul {
        padding-left: 25px;
    }
    /* .hero-section .container {
        max-width: 80%;
    } */
    .banner .whitebox h3 br {
        display: none;
    }
    .agencies .container {
        max-width: 1170px;
    }
    .trust-row .container {
        max-width: 1170px;
    }
}
@media (max-width:1199px) {

    .provider-sec .inner {

        display: block;

        text-align: center;
    }
    .provider-sec .dropdown1 {
        max-width: 100%;
        margin: 10px 0 10px 0;

    }
    .provider-sec {
        border-radius: 10px;

        padding: 40px 30px;

        margin-top: 0px;

    }

    .provider-sec .btn-secondary {
        margin-top: 10px;
        font-size: 15px;
        padding: 10px 35px;

        width: 100%;
    }
    .provider-sec .dropdown2 {
        max-width: 100%;

    }

    .provider-sec .location {
      width: 100%;

        position: relative;
        justify-content: space-between;
    }

    .provider-sec .fa {
        font-size: 20px;
        position: absolute;
        left: -20px;
    }

    .serchbtndash {
        font-size: 14px;
        padding: 6px 12px;
    }
    .header .right-section {
        right: 140px;
    }
    .header .navbar-dark .navbar-nav .nav-link {
        font-size: 18px;
        padding-right: 0;
        padding-left: 0;
        border-bottom: 1px solid #ccc;
    }
    .header .navbar-nav {
        padding-left: 00;
    }
}
@media (max-width:828px) {
    /* .hero-section .container {
        max-width: 85%;
    } */
    .header .right-section {
        position: static;
        width: 100%;
        text-align: center;
        max-width: none;
        justify-content: center;
        margin-top: 15px;
    }
    .header .right-section .input-group {
        width: auto;
        background: #000;
        border-radius: 30px;
        margin-left: 19px;
    }
    .category-service .container {
        display: block;
    }
    .category-service ul {
        margin-top: 15px;
    }
}
@media (max-width:650px) {

    .footer ul li {

        font-size: 10px;
        line-height: 30px;
        padding: 0px 5px;
    }

    .email-sec h3 {
        font-size: 18px;

    }
    .email-sec #email:placeholder{
        font-size: 22px;
    }
    .contact .about-box h3 {
        font-size: 18px;
        margin: 0;

    }

    .email-sec p {
        font-size: 15px;

    }

    .email-sec #email {
        width: 100%;

        text-align: center;
    }
    .email-sec span {
        font-size: 13px;

    }
    .email-sec .submit {
        padding: 0;
        width: 51%;
        box-sizing: border-box;
        margin: 2px auto 0 auto;
        display: table;
        padding: 15px 0;
        border: 0;
        font-size: 14px;
    }


    .profile .btn-primary,
        .profile .btnb-primary{
        font-size: 16px;
        padding: 10px 22px;
        margin-top: 0;
        border: 0;
    }

    .storybox {
        border-radius: 10px;
        padding: 30px;
    }
    .trust-row .container {
padding: 0;
    }

    .agencies {

        margin-bottom: 25px;
    }
    .agencies .agenciesbox h3 {
        font-size: 19px;

        height: auto;

    }
    .agencies .agenciesbox h4 {
        font-size: 14px;

    }
    .agencies .agenciesbox p {
        font-size: 13px;

    }

    .agencies h3 {

        font-size: 27px;
    }

    .agencies p {
        font-size: 16px;

        line-height: normal;

    }
  .agencies p br {
       display: none;

    }
    .banner .whitebox h3 span {

        font-size: 18px;

    }

    .category-service span {

        font-size: 16px;

        margin-left: 0;
    }
    .category-service ul {
        margin-top: 5px;
        padding-left: 37px;
    }

    .category-service ul li {
        font-size: 12px;
    }

    .provider-sec .form-control {

        font-size: 15px;

    }

    .header .right-section {

        margin-top: 6px;
    }
    .header .logo {
        max-width: 200px;
    }

    .navbar-toggler {
        padding: 0;

    }

    .header .right-section .form-control {

        font-size: 10px;
    }

    .header .navbar-dark .navbar-nav .nav-link {
      border-bottom: 0; 
        font-size: 14px;
        color: #fff;
    }

    .header .navbar-nav {
        padding-left: 00;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .trust-row {
        padding-bottom: 0px;
        padding-top: 20px;
    }
    .banner .whitebox {
        padding: 0px 2px;
        position: relative;
    }
    .banner .whitebox h4 {
        color: #0077ef;
        font-weight: bold;
        font-size: 27px;
    }
    .banner .whitebox .circle1 {
        left: 0;
        top: -26px;
        width: 100px;
    }
    .banner .whitebox .circle2 {
        right: 0;
        bottom: -26px;
        width: 100px;
    }
    .banner .whitebox h3 {
        font-size: 31px;
        font-weight: bold;
        color: #000;
    }
    .banner .whitebox p {
        margin-top: 21px;
        line-height: 27px;
        font-size: 18px;
        padding-right: 0;
    }
    .banner .whitebox .btn-primary {
        font-size: 16px;
        padding: 10px 22px;
    }
    .bannerright h3 {
        font-size: 33px;
    }
    .trust-row h3 {
        font-size: 28px;
    }
    .trust-row p {
        font-size: 18px;
        color: #191b1f;
        text-align: left;
        line-height: 25px;
    }
    .testimonial h3 span {

        font-size: 27px;

    }
    .btn-primary {
        font-size: 16px;
        padding: 10px 22px;
    }
    .contact .form-control {
        font-size: 26px;
    }
    .contact .email {
        background-size: 40px;
    }
    .contact .recieve {
        font-size: 13px;
        line-height: 28px;
    }
    .testimonial .testimonialbox {
        padding: 30px 9px 30px 0;
    }
    .testimonial .testimonialbox h3 {
        font-size: 18px;
    }
    .testimonial .testimonialbox img {
        width: 50px;
    }
    .testimonial h3 {
        font-size: 30px;
    }
    .testimonial p {
        font-size: 16px;
    }
    .testimonial .slick-dots {
        bottom: -111px;
    }

    .testimonial .testimonialbox p {

        font-size: 17px;
        margin: 21px 0 0 0;
        line-height: 22px;
    }
    .agencies {
        padding: 60px 0 0 0;
    }

    .profile p span {
        font-size: 20px;

    }
    .profile h3 {
        font-size: 28px;
    }
    .profile p {
        font-size: 20px;

    }
}
.pac-container {
    z-index: 99999999 !important
}
.pac-container:after {
    /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */
    background-image: none !important;
    height: 0px;
    content: none !important;
}

/* Header Css */


.fixed-header {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    z-index: 1000 !important; /* You can adjust this value based on your needs */
    background-color: #fff !important; /* Adjust the background color as needed */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important; /* Optional: Add a shadow for a subtle effect */
}

.modal-signin img{
    width: 40px;
}
@media (max-width: 575px) {


    .basicbox {
    
    padding: 45px 45px;
    }
    }
    @media (max-width: 400px) {
    
    
    .basicbox {
    
    padding: 45px 45px;
    }
    }
@media screen and (max-width:375px) {
    .modal-signin img{
        width: 30px !important;
    }

    .nav-link {
        padding: 0 !important;

    }

}


/* Read more revies section  */

.scrollable-section {
    height: 600px; /* Adjust the height as per your design */
    overflow-y: scroll;
}

.top-space{
    margin-top: 150px !important;
}


